*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

nav{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo{
	margin: 0.5rem;
	display: inline;
}

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1em;
}

#intro button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
}

#succeed-info h3{
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer{
	padding: 0.7em;
}

footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}



/**/



#pre-footer{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 1%;
	padding-bottom: 0px;
	color: white;
	background-color: darkblue;
}


#pre-footer h3{
	text-align: left;
	margin-bottom: 1rem;
}

#pre-footer .pf{
	display: inline-block;
	vertical-align: top;
	min-height: 150px;
	width: 20%;
	margin-left: 1rem;
	margin-right: 1rem;
}